@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}

canvas {
  height: 40vh;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.active {
  background-color: #9333ea;
  color: white;
  transition: 0.3s linear;
  border-radius: 4px;
  text-decoration: underline;
}

.mobile-nav {
  background-color: #242423e8;
}

@media (max-width: 430px) {
  canvas {
    height: 30vh;
    /* width: 30vw; */
  }
}

.green-pink-gradient {
  background: '#be85c0 ';
  background: linear-gradient(90.13deg, #be85c0 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #be85c0 1.9%, #bf61ff 97.5%);
}

.box-shadow {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}

.skill-shadow {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.698);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}
.project-shadow {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px #ad64f14b;
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}

.date {
  color: rgb(55 65 81);
}



